.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  padding-top: 270px;
  padding-bottom: 100px;
  min-height: 10vh;

  background-image: url("../assets/network-bg.svg");
  background-size: cover;
  background-position: center;

  gap: 40px;
}

/* LEFT SIDE TEXT */
.home-left h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.highlight {
  color: var(--accent);
}

/* TYPING TEXT */
.subtitle {
  margin-top: 10px;
  font-size: 20px;
  color: var(--muted);
}

.typing {
  color: var(--accent);
  font-weight: 700;
  white-space: nowrap;
}

/* BUTTON */
.about-btn {
  margin-top: 25px;
  display: inline-block;
  padding: 12px 26px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.06);
  color: var(--accent);
  font-size: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

  transition: 0.3s ease;
}

a.about-btn {
  text-decoration: none !important;
}


.about-btn:hover {
  background: var(--accent);

  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

.socials a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.06);
  color: var(--accent);

  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  transition: 0.25s ease;
}

.socials a:hover {
  background: var(--accent);
  color: white;
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.35);
}

/* AVATAR CIRCLE */
.home-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: var(--accent);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease;
}

.avatar-circle img {
  width: 96%;
  border-radius: 50%;
}

/* Fade-in Animations */
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.8s ease forwards;
}

.delay-1 { animation-delay: 0.15s; }
.delay-2 { animation-delay: 0.3s; }
.delay-3 { animation-delay: 0.45s; }
.delay-4 { animation-delay: 0.6s; }
.delay-5 { animation-delay: 0.75s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 850px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    padding-top: 160px;
  }

  .home-right {
    margin-top: 40px;
  }

  .home-left h1 {
    font-size: 38px;
  }

  .avatar-circle {
    width: 260px;
    height: 260px;
  }
}
